<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195524446544-hf9r470qju475ctj54mk4cetg3ir7lu2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195524446544-hf9r470qju475ctj54mk4cetg3ir7lu2</string>
	<key>API_KEY</key>
	<string>AIzaSyA94N35kiykjck4divhzGUFU2JMn5SvIHw</string>
	<key>GCM_SENDER_ID</key>
	<string>195524446544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shunich.Yutube-App-1</string>
	<key>PROJECT_ID</key>
	<string>share-68788</string>
	<key>STORAGE_BUCKET</key>
	<string>share-68788.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195524446544:ios:1b7f3da8c43b4842ac4455</string>
</dict>
</plist>